@page
@using ToDoAppClient.Models;
@model ToDoAppClient.Pages.TasksListModel
@{
}

<h1>Tasks</h1>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Priority</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Tasks != null)
        {
            @foreach (var task in Model.Tasks)
            {
                <tr>
                    <td>@task.Name</td>
                    <td>@task.Priority</td>
                    <td>@task.Status</td>
                    <td>
                        <a asp-page="./UpdateTask" class="btn btn-primary" asp-route-id="@task.Id">Update</a>
                        @if (task.Status == Status.Completed)
                        {
                            <a asp-page="./DeleteTask" class="btn btn-danger" asp-route-id="@task.Id">Delete</a>
                        }
                        else
                        {
                            <span class="disabled-button" title="Delete is only allowed for completed tasks">Delete</span>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<div class="row">
    <div class="col-md-4">
        <h2>Add New Task</h2>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NewTask.Name" class="control-label">Name:</label>
                <input asp-for="NewTask.Name" class="form-control" />
                <span asp-validation-for="NewTask.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewTask.Priority" class="control-label">Priority(1-10):</label>
                <input asp-for="NewTask.Priority" class="form-control" />
                <span asp-validation-for="NewTask.Priority" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewTask.Status" class="control-label">Status:</label>
                <span asp-validation-for="NewTask.Status" class="text-danger"></span>
                <select asp-for="NewTask.Status" class="form-control" id="Status" name="UpdatedTask.Status">
                    <option value="@Status.NotStarted">Not started</option>
                    <option value="@Status.InProgress">In progress</option>
                    <option value="@Status.Completed">Completed</option>
                </select>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Create Task</button>
            </div>
        </form>
    </div>
</div>